:root {
  font-size: 2rem;
  font-family: Kanit, serif;
  background: linear-gradient(to left, rgba(23, 23, 23, 0.8), rgb(25, 25, 25));
  text-align: center;
  color:aliceblue;
}

.t_main {
  font-size: 1rem;
  font-family: Kanit;
  background-color: rgb(115, 172, 222);
  border: none;
  border-radius: 40px;
  padding: 15px;
  margin: 20px;
}

#last_t {
  font-size: 1rem;
  color: white;
}
.container {
    display: flex;
    text-align: flex-start;
    justify-content: center; 
}
#t_btn {
    margin: 4vh;
    padding-right: 4vh;
    padding-left: 4vh;
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-size: 0.5rem;
  color: white;
  background-color: rgba(100, 100, 100, 0.97);
  font-family: Kanit;
    border: none;
  border-radius: 25px;
    
}

#t_btn:hover {
    background-color: rgba(85, 85, 85, 0.7);
    font-size: 0.505rem; 
}

#subBtn {
    margin-top: 5vh;
}

.desc {
  font-family: Kanit;
  font-size: 0.85rem;
  color: white;
}

.black_btn {
  font-size: 0.5rem;
  color: white;
  background-color: rgba(26, 26, 26, 0.57);
  font-family: Kanit;
  text-align: center;
  border: none;
  border-radius: 25px;
  padding: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.black_btn:hover {
  font-size: 0.5rem;
  color: white;
  background-color: rgba(119, 119, 119, 0.287);
  font-family: Kanit;
  text-align: center;
}
