:root {
  font-size: 2rem;
  font-family: Kanit, serif;
  background: linear-gradient(to left, rgba(23, 23, 23, 0.8), rgb(25, 25, 25));
  display: flex-col;
  text-align: center;
  color:aliceblue;
}

.t_main {
  font-size: 1.5rem;
  background-color: rgb(115, 172, 222);
  border: none;
  border-radius: 40px;
  padding: 15px;
  margin: 20px;
}

#last_t {
  font-size: 1rem;
  color: white;
}